body {
    font-family: Arial, sans-serif;
    background-color: #ff80ff;
    margin: 0;
    padding: 0;
    display: flex;
    height: 110vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #c0c0c0;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #800080;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #8000ff;
    color: #c0c0c0;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #8000ff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ff8080;
    color: #fff;
}